.ch-grid {
	list-style: none;
	display: block;
	text-align: center;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	height: 180px;
	padding-left: 70px;
}
.ch-grid2 {
	list-style: none;
	display: block;
	text-align: center;
	width: 253px;
	margin-right: auto;
	margin-left: auto;
	height: 253px;
}


.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}
.ch-grid2:after, .ch-item:before {
	content: '';
	display: table;
}


.ch-grid:after {
	clear: both;
}
.ch-grid2:after {
	clear: both;
}


.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 5px;
	float:left;
}
.ch-grid2 li {
	width: 253px;
	height: 253px;
	display: inline-block;
	margin: 5px;
	float:left;
}
