
header  {
    height: 146px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../../img/ISOfondo.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.navbar-light .navbar-nav .nav-link {
    text-decoration: none;
    color: #e97800;
    font-weight: 400;
    font-size: 13px;
    line-height: 47px;
    width: 90px;
    text-align: center;
}

.footer {
    height: auto;
}
.white-link {
    color: #fff;
}
.white-link:hover {
    color: #f5d3ad;
}
@media (max-width: 767px) {
    header  {
        height: 100px;
        background: none;
    }
    .navbar-logo {
        max-width: 200px;
        width: 160px;
    }
    .navbar-light .navbar-nav .nav-link {
        width: auto;
        text-align: left;
        padding-left: 20px;
        line-height: 30px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-logo {
        max-width: 100px;
    }
    header  {
        height: 100px;
    }
}

.navbar-collapse.collapse.show {
    z-index: 999;
    background: #fff;
}

@media (max-width: 991px) {
    .ei-slider-large .ei-title {
        position: absolute;
        right: 0;
        margin-right: 0;
        top: 60%;
        width: 500px;
        left: 50px;
    }
    .servicios {
        height: auto;
    }
    .servicios .serv_int{
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }
    .servicios .serv_int .titServ {
        height: 150px;
        width: 100%;
    }
    .servicios .serv_int .titServ .tit2 {
        width: 100%;
    }
    .servicios .serv_int .cajasTxtHome {
        height: auto;
        float: none;
        width: auto;
        margin-top: 20px;
        padding-left: 0;
    }
    .cajaIcono {
        margin-top: 20px;
    }
    .cajaIcono .txtCajaIcon {
        height: auto;
        width: 100%;
        float: none;
    }
    .cajaIcono .sepaIco {
        display: none;
    }
    .bajadaTxtIco {
        height: auto;
        width: 100%;
    }

    .redes .redes_int .cajaRedes2 a{
        float: right;
    }
    .redes .redes_int {
        width: auto;
    }
    .footer .footer_int {
        width: auto;
        height: auto;
    }
    .footer .pie .pie_int {
        min-height: 106px;
        width: auto;
    }
    .powered {
        width: auto;
    }
    .footer {
        height: auto;
    }
    .footer .footer_int .caja1Footer {
        height: auto;
        width: auto;
    }
    .caja2Footer {
        display: none;
    }
    .footer .footer_int .caja3Footer {
        float: left;
        height: auto;
        width: auto;
    }
    .footer .footer_int .caja1Footer {
        padding-left: 10px;
        margin-bottom: 20px;
    }
    .powered {
        margin-left: 0;
    }
    .footer .footer_int .caja1Footer .cajaTitCont2 {
        width: auto;
    }
    .footer .footer_int .caja1Footer .cajaTitCont3 {
        margin-top: 10px;
    }
    .footer .footer_int .caja3Footer {
        padding-left: 0;
        text-align: center;
        width: 100%;
    }
    .footer .footer_int .caja3Footer .cajaTitLink {
        width: auto;
    }
    .footer .footer_int .caja3Footer .menuLinks_web {
        width: auto;
        padding-left: 0;
        height: auto;
    }
    .menuLinks_web ul li a {
        display: block;
        margin: 5px 0;
    }

    .redes {
        height: auto;
    }
    .redes img{
        width: 100px;
        height: auto;
    }
    .redes .redes_int {
        height: auto;
    }
    .redes .redes_int .cajaRedes2 {
        height: auto;
    }
    .cajaIcono-icono {    
        width: 127px;
        height: 127px;
        text-align: center;
        margin: 0 auto;
    }
    .cajaIcono-icono img{
        width: 127px;
        height: 127px;
        border-radius: 50%;
    }
    .servicios .serv_int .titServ .tit2 {
        height: auto;
    }
}