
header  {
    height: 146px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../../img/ISOfondo.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.navbar {
    padding: 0 15px;
}
.navbar-brand {
     padding-top: 0;
}
.navbar-light .navbar-nav .nav-link {
    text-decoration: none;
    color: #e97800;
    font-weight: 400;
    font-size: 13px;
    line-height: 47px;
    width: 90px;
    text-align: center;
}
.navbar-light .navbar-nav .nav-item.active .nav-link{
    color:#000;
}
.footer {
    height: auto;
}
.white-link {
    color: #fff;
}
.white-link:hover {
    color: #f5d3ad;
}

.empresa-video {	
    height: auto;
    max-width: 700px;
    float: left;
}

.empresa-video video {
	max-width: 100%;
}

.cajaEmp_centro .cajaTxtEmp2 .bannerTxt2 {
    height: 450px;
    width: 362px;
    margin-right: 15px;
}

.redes .redes_int .cajaRedes2 a{
    float: right;
}





.cajaContacto .cajaConta_centro .googleMap {
    width: 100%;
    position: relative;
}
.cajaContacto .cajaConta_centro .googleMap .centroMapa1 {
	width: 100%;	
}
.cajaContacto .cajaConta_centro .googleMap .centroMapa1 .coberMapa {
	width: 100%;	
}
.cajaContacto .cajaConta_centro .googleMap .mapaFinal {
	width: 100%;	
}


#lightgallery li {
    margin-top: 15px;
}


.cajaContacto {
    height: auto;
}
.cajaContacto .cajaConta_centro {
    width: auto;
    height: auto;
}
.cajaContacto .cajaConta_centro .sepaTop {
    height: 73px;
    width: 100%;
}
.cajaContacto .cajaConta_centro .cajaConta1 {
    float: none;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center;
    width: 395px;
    height: 497px;
}

.cajaConta1_centro {
    height: auto;
    width: auto;
    padding-top: 73px;
    padding-right: 50px;
    max-width: 400px;
    margin: auto;
}
.addres {
    height: auto;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    color: #515151;
    text-align: right;
    padding-right: 35px;
    padding-top: 150px;
}
.cajaContacto .cajaConta_centro .googleMap {
    width: 100%;
    background: none;
    margin-top: 30px;
}
.cajaConta1_centro2 {
    background: #BAD6E0;
    height: auto;
    padding: 15px;
    width: auto;
}












@media (max-width: 767px) {
    header  {
        height: 100px;
        background: none;
    }
    .navbar-logo {
        max-width: 200px;
        width: 160px;
    }
    .navbar-light .navbar-nav .nav-link {
        width: auto;
        text-align: left;
        padding-left: 20px;
        line-height: 30px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-logo {
        max-width: 100px;
    }
    header  {
        height: 100px;
    }
}



@media (max-width: 991px) {
    .navbar-collapse {
        z-index: 999;
        background: #fff;
    }
    .ei-slider-large .ei-title {
        position: absolute;
        right: 0;
        margin-right: 0;
        top: 60%;
        width: 500px;
        left: 50px;
    }
    .servicios {
        height: auto;
    }
    .servicios .serv_int{
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }
    .servicios .serv_int .titServ {
        height: 150px;
        width: 100%;
    }
    .servicios .serv_int .titServ .tit2 {
        width: 100%;
    }
    .servicios .serv_int .cajasTxtHome {
        height: auto;
        float: none;
        width: auto;
        margin-top: 20px;
        padding-left: 0;
    }
    .cajaIcono {
        margin-top: 20px;
    }
    .cajaIcono .txtCajaIcon {
        height: auto;
        width: 100%;
        float: none;
    }
    .cajaIcono .sepaIco {
        display: none;
    }
    .bajadaTxtIco {
        height: auto;
        width: 100%;
    }

    .redes .redes_int {
        width: auto;
    }
    .footer .footer_int {
        width: auto;
        height: auto;
    }
    .footer .pie .pie_int {
        min-height: 106px;
        width: auto;
    }
    .powered {
        width: auto;
    }
    .footer {
        height: auto;
    }
    .footer .footer_int .caja1Footer {
        height: auto;
        width: auto;
    }
    .caja2Footer {
        display: none;
    }
    .footer .footer_int .caja3Footer {
        float: left;
        height: auto;
        width: auto;
    }
    .footer .footer_int .caja1Footer {
        padding-left: 10px;
        margin-bottom: 20px;
    }
    .powered {
        margin-left: 0;
    }
    .footer .footer_int .caja1Footer .cajaTitCont2 {
        width: auto;
    }
    .footer .footer_int .caja1Footer .cajaTitCont3 {
        margin-top: 10px;
    }
    .footer .footer_int .caja3Footer {
        padding-left: 0;
        text-align: center;
        width: 100%;
    }
    .footer .footer_int .caja3Footer .cajaTitLink {
        width: auto;
    }
    .footer .footer_int .caja3Footer .menuLinks_web {
        width: auto;
        padding-left: 0;
        height: auto;
    }
    .menuLinks_web ul li a {
        display: block;
        margin: 5px 0;
    }

    .redes {
        height: auto;
    }
    .redes img{
        width: 100px;
        height: auto;
    }
    .redes .redes_int {
        height: auto;
    }
    .redes .redes_int .cajaRedes2 {
        height: auto;
    }
    .cajaIcono-icono {    
        width: 127px;
        height: 127px;
        text-align: center;
        margin: 0 auto;
    }
    .cajaIcono-icono img{
        width: 127px;
        height: 127px;
        border-radius: 50%;
    }
    .servicios .serv_int .titServ .tit2 {
        height: auto;
    }
    .pagina {
        margin-top: 25px;
    }
    .cajaGris {
        height: auto;
        margin-top: 15px;
    }
    .cajaGris .cajaGris_centro {
        height: auto;
        width: auto;
    }
    .cajaGris .cajaGris_centro .fraseEmp {
        width: auto;
        margin-right: auto;
        margin-left: auto;
        height: auto;
        margin-top: 15px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #666;
        text-align: center;
        padding: 15px;
    }
    b, strong {
        font-weight: bold;
    }
    .bannerServicios .titBanner {
        width: auto;
    }

    .t_producto {
        padding: 15px;
        font-weight: 300;
        font-size: 15px;
        line-height: 25px;
        color: #49281f;
        padding-top: 30px;
        background-color: #fce1bf;
        margin-bottom: 30px;
    }
    .t_producto.T1{
        background-color: #fce1bf;
    }
    .t_producto.T2 {
        background-color: #fad5a6;
    }
    .t_producto.T3 {
        background-color: #f9c88c;
    }
    .t_producto.T4 {
        background-color: #f8bd73;
    }

    .bannerCalidad .titBanner {
        width: auto;
    }
    .fotosCaaa {
        text-align: center;
        margin-top: 15px;
    }
    .bannerServicio .titBanner {
        width: auto;
    }
    .cajaContacto .cajaConta_centro .cajaConta2 {
        margin-left: 0px;
    }
    .bannerContacto .titBanner {
        width: 100%;
    }
    .cajaContacto .cajaConta_centro .cajaConta1 {
        width: 100%;
    }
    .logoCont {
        width: auto;
    }
    .cajaContacto .cajaConta_centro .cajaConta2 {
        float: left;
        width: auto;
    }
    .cajaContacto .cajaConta_centro .cajaConta2 {
        width: 100%;
    }
    .fondoCampos {
        width: 100%;
    }
    .addres {
    padding-top: 10px;
    }
    .cajaConta1_centro2 .btnEnviar {
        width: 100%;
    }
}




.campoTitulo {
    display: none;
}
.campoMensaje {
    width: 100%;
}

.footer .footer_int .caja1Footer .cajaTitCont3 {
    color: #fff;
}
.color-white {
    color: #ffffff!important;
}
.footer .footer_int .caja1Footer .cajaTitCont3 a{
    color: #fff;
}
.linkmobil {
    font-size: 16px;
}